//- BUTTONS

mixin button(id, text)
    button.btn.btn-default(id=id)&attributes(attributes)= text

mixin button-show-modal(id, text, modal_id)
    +button(id, text)(data-toggle='modal' data-target='#'+modal_id)&attributes(attributes)

//- INPUTS

mixin input(id, type, placeholder)
    .form-group&attributes(attributes)
        input.form-control(id=id type=type placeholder=placeholder)
        span.glyphicon.glyphicon-remove.form-control-feedback.hidden(aria-hidden='true')

//- MENUS AND TABS

mixin menu-item(href, title)
    li&attributes(attributes)
        a(href=href)= title

mixin tab(target, name, icon)
    li(role='presentation')&attributes(attributes)
        a(href='#'+target aria-controls=target role='tab' data-toggle='tab')
            span.visible-xs.glyphicon(class='glyphicon-' + icon)
            span.hidden-xs= name

mixin tab-mobile(target, icon)
    li.visible-xs(role='presentation')&attributes(attributes)
        a(href=target aria-controls=icon role='tab' data-toggle='tab')
            span.glyphicon(class='glyphicon-'+icon)

mixin tab-simple(target, name)
    li(role='presentation')&attributes(attributes)
        a(href='+'+target aria-controls=target role='tab' data-toggle='tab')
            span= name

mixin tab-panel
    .tab-pane(id=id)&attributes(attributes)
        .container-fluid

//- WINDOWS

mixin window(id)
    .modal.fade(id=id tabindex='-1' role='dialog' aria-labelledby=id+'-title')
        .modal-dialog(role='dialog')
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Закрыть')
                        span(aria-hidden='true') &times;
                    h4(id=id+'-title')
                        block title
                .modal-body(id=id+'-body')
                    block body
                .modal-footer(id=id+'-footer')
                    block footer

mixin window-button(id, text)
    +button(id, text)(data-dismiss='modal')

mixin window-button-no-hide(id, text)
    +button(id, text)

mixin window-button-ok(id)
    +window-button(id, 'Ок')

mixin window-button-cancel(id)
    +window-button(id, 'Отмена')

mixin window-buttons-dialog(id_ok, id_cancel)
    +window-button-ok(id_ok)
    +window-button-cancel(id_cancel)

