//- BUTTONS

mixin button(id, text)
    button.btn.btn-default(id=id)&attributes(attributes)= text
        block

mixin button-icon(id, icon)
    button.btn.btn-default(id=id)&attributes(attributes)
        +icon(icon)
        block

mixin button-with-icon(id, text, icon)
    button.btn.btn-default(id=id)&attributes(attributes)
        +icon(icon)
        | &nbsp;&nbsp;
        = text
        block

mixin button-show-modal(id, text, modal_id)
    +button(id, text)(data-toggle='modal' data-target='#'+modal_id)&attributes(attributes)

mixin button-input(id, text)
    span.input-group-btn
        +button(id, text)&attributes(attributes)

mixin button-group
    .btn-group(role='group')&attributes(attributes)
        block

mixin button-group-radio
    .btn-group(role='group' data-toggle='buttons')&attributes(attributes)
        block

mixin button-group-radio-button(id, text)
    label.btn.btn-default&attributes(attributes)
        input(id=id type='radio' autocomplete='off')
        = text
        block

mixin button-group-radio-button-icon(id, text, icon, textClass)
    label.btn.btn-default&attributes(attributes)
        input(id=id type='radio' autocomplete='off')
        +icon(icon)
        span(class=textClass)
            | &nbsp;&nbsp;
            = text
        block

//- INPUTS

mixin input(id, type, placeholder)
    .form-group&attributes(attributes)
        input.form-control(id=id type=type placeholder=placeholder)
        span.glyphicon.glyphicon-remove.form-control-feedback.hidden(aria-hidden='true')

mixin input-outside-group(id, type, placeholder)
    input.form-control(id=id type=type placeholder=placeholder)&attributes(attributes)
    span.glyphicon.glyphicon-remove.form-control-feedback.hidden(aria-hidden='true')

//- MENUS AND TABS

mixin menu-item(href, title)
    li&attributes(attributes)
        a(href=href)= title

mixin tab(target, name, icon)
    li(role='presentation')&attributes(attributes)
        a(href='#'+target aria-controls=target role='tab' data-toggle='tab')
            span.visible-xs.glyphicon(class='glyphicon-' + icon)
            span.hidden-xs= name

mixin tab-mobile(target, icon)
    li.visible-xs(role='presentation')&attributes(attributes)
        a(href='#'+target aria-controls=target role='tab' data-toggle='tab')
            span.glyphicon(class='glyphicon-'+icon)

mixin tab-simple(target, name)
    li(role='presentation')&attributes(attributes)
        a(href='#'+target aria-controls=target role='tab' data-toggle='tab')
            span= name

mixin tab-panel(id)
    .tab-pane(id=id)&attributes(attributes)
        .container-fluid
            block

//- WINDOWS

mixin window(id)
    .modal.fade(id=id tabindex='-1' role='dialog' aria-labelledby=id+'-title')
        .modal-dialog(role='dialog')
            .modal-content
                block

mixin window-header(id, title)
    .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Закрыть')
            span(aria-hidden='true') &times;
        h4(id=id + '-title')
            = title

mixin window-body(id)
    .modal-body(id=id + '-body')
        block

mixin window-footer(id)
    .modal-footer(id=id + '-footer')
        block

mixin window-button(id, text)
    +button(id, text)(data-dismiss='modal')

mixin window-button-no-hide(id, text)
    +button(id, text)

mixin window-button-ok(id)
    +window-button(id+'-ok', 'Ок')

mixin window-button-cancel(id)
    +window-button(id+'-cancel', 'Отмена')

mixin window-buttons-dialog(id)
    +window-button-ok(id)
    +window-button-cancel(id)

//- OTHER

mixin icon(type)
    span(aria-hidden='true' class='glyphicon glyphicon-'+type)

mixin mobile-top-menu-toggle(id)
    +button(id).navbar-toggle.collapsed(data-toggle='collapse' data-target='#top-menu')
        span.icon-bar
        span.icon-bar
        span.icon-bar

mixin characteristic-bar
    .progress-bar.progress-bar-striped(role='progressbar' style='width: 100%')&attributes(attributes)

mixin characteristic(id, name)
    h6=name
    .progress
        +characteristic-bar()(id=id)

mixin characteristic-large(id, name, type)
    - type = type || 'info'
    h4= name
    .progress
        +characteristic-bar()(id=id, class='progress-bar-'+type)