extends root

mixin characteristic-bar
    .progress-bar.progress-bar-striped(role='progressbar' style='width: 100%')&attributes(attributes)

mixin characteristic(id, name)
    h6=name
    .progress
        +characteristic-bar(id=id)

mixin characteristic-large(id, name)
    h4= name
    .progress
        +characteristic-bar.progress-bar-info(id=id)

mixin extra-info(id, text)
    .col-md-3.text-center
        .h5
            = text
            |  -
            span(id=id)

mixin inventory(img)
    img.inventory(src='img/'+img)

mixin map-zone(id, x, y)
    .map-zone.hidden(id=id data-move=x+', '+y)

block top-menu
    include game-menu

block content
    .container-fluid.profile-container
        .row.profile-inner
            ul.nav.nav-tabs
                +tab('profile-info', 'Профиль', 'user').active
                +tab('inventory', 'Инвентарь', 'th-large')
                +tab('map', 'Карта', 'map-marker')#map-tab-bar-button
                +tab('pvp', 'Дуэль', 'screenshot')
                +tab('shop', 'Магазин', 'ruble')
                +tab-mobile('chat', 'globe')

            .tab-content

                +tab-panel('profile-info').active
                    .row
                        .col-md-12
                            +characteristic-large('chara-stamina', 'Выносливость')
                            hr
                            +characteristic('chara-real', 'Физическая защита')
                            +characteristic('chara-anomal', 'Противоаномальная защита')
                            +characteristic('chara-psi', 'ПСИ-защита')
                            +characteristic('chara-hide', 'Скрытность')
                            +characteristic('chara-war', 'Боевая эффективность')
                            +characteristic('chara-detect', 'Детектирование аномалий')
                            hr
                    .row
                        +extra-info('chara-rate', 'Рейтинг сталкера')
                        +extra-info('chara-money', 'Денег в наличии')
                        +extra-info('chara-games', 'Успешных вылазок')
                        +extra-info('chara-duels', 'Успешных дуэлей')
                    .footer-spacer

                +tab-panel('inventory')
                    .row
                        .col-md-6.col-sm-6.col-lg-4
                            h5 Броня
                            +inventory('armor/zara.png')
                        .col-md-6.col-sm-6.col-lg-8
                            h5 Оружее
                            +inventory('weapon/akm.png')
                            +inventory('weapon/pmm.png')
                    .row
                        .col-md-12
                            h5 Дополнительные предметы
                            +inventory('extra/knife.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/dg5.png')
                    .row
                        .col-md-12
                            h5 Активные артефакты
                            +inventory('art/prusina.png')
                            +inventory('art/vivert.png')
                            +inventory('art/vspiska.png')
                    .row
                        .col-md-12
                            h5 Рюкзак 

                +tab-panel('map')
                    .row
                        .col-md-12.mobile-no-padding
                            +map-zone('map-1',  890,  325)
                            +map-zone('map-2',  740,  350)
                            +map-zone('map-3',  790,  445)
                            +map-zone('map-4',  680,  455)
                            +map-zone('map-5',  760,  580)
                            +map-zone('map-6',  780,  765)
                            +map-zone('map-7',  830,  855)
                            +map-zone('map-8',  730,  900)
                            +map-zone('map-9',  680,  805)
                            +map-zone('map-10', 390,  715)
                            +map-zone('map-11', 270,  745)
                            +map-zone('map-12', 210,  855)
                            +map-zone('map-13', 350,  835)
                            +map-zone('map-14', 285,  970)
                            +map-zone('map-15', 700,  1110)
                            +map-zone('map-16', 780,  1210)
                            +map-zone('map-17', 880,  1240)
                            +map-zone('map-18', 975,  1190)
                            +map-zone('map-19', 1080, 800)
                            +map-zone('map-20', 1160, 725)
                            +map-zone('map-21', 1185, 825)
                            +map-zone('map-22', 1190, 1040)
                            +map-zone('map-23', 1185, 1145)
                            +map-zone('map-24', 765,  1395)
                            +map-zone('map-25', 660,  1410)
                            +map-zone('map-26', 780,  1500)
                            +map-zone('map-27', 655,  1520)
                            +map-zone('map-28', 375,  1650)
                            +map-zone('map-29', 475,  1670)
                            img.map(src='img/map.jpg')

                +tab-panel('shop')
                    .row
                        .col-md-12
                            .h4.money-count
                                | Денег в наличии -
                                span#money-count
                            hr
                    .row.visible-xs
                        .col-md-12
                            ul.nav.nav-tabs
                                +tab-simple('shop-buy', 'Продать').active
                                +tab-simple('shop-sell', 'Купить')

                    .row.hidden-xs
                        .col-md-6
                            h5 Продать
                            +inventory('armor/zara.png')
                            +inventory('weapon/akm.png')
                            +inventory('weapon/pmm.png')
                            +inventory('extra/knife.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/dg5.png')
                            +inventory('art/prusina.png')
                            +inventory('art/vivert.png')
                            +inventory('art/vspiska.png')
                        .col-md-6
                            h5 Купить
                            +inventory('armor/dolg_psz9d.png')
                            +inventory('armor/koz.png')
                            +inventory('extra/dg5.png')
                            +inventory('weapon/fora.png')
                            +inventory('weapon/fora-15.png')
                            +inventory('weapon/ob_s.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/dg5.png')
                            +inventory('weapon/obrez.png')
                            +inventory('weapon/sgi.png')
                            +inventory('weapon/spas.png')

                    .row.visible-xs
                        .col-md-12
                            .tab-content
                                +tab-panel('shop-buy').active
                                    .row
                                        +inventory('armor/zara.png')
                                        +inventory('weapon/akm.png')
                                        +inventory('weapon/pmm.png')
                                        +inventory('extra/knife.png')
                                        +inventory('extra/rgd5.png')
                                        +inventory('extra/rgd5.png')
                                        +inventory('extra/rgd5.png')
                                        +inventory('extra/dg5.png')
                                        +inventory('art/prusina.png')
                                        +inventory('art/vivert.png')
                                        +inventory('art/vspiska.png')
                                +tab-panel('shop-sell')
                                    .row
                                        +inventory('armor/dolg_psz9d.png')
                                        +inventory('armor/koz.png')
                                        +inventory('extra/dg5.png')
                                        +inventory('weapon/fora.png')
                                        +inventory('weapon/fora-15.png')
                                        +inventory('weapon/ob_s.png')
                                        +inventory('extra/rgd5.png')
                                        +inventory('extra/dg5.png')
                                        +inventory('weapon/obrez.png')
                                        +inventory('weapon/sgi.png')
                                        +inventory('weapon/spas.png')

                +tab-panel('pvp')
                    .row
                        .col-12-m
                            p pvp

                +tab-panel('chat')
                    .row
                        .col-12-m
                            p chat