extends root

mixin extra-info(id, text, value)
    .col-sm-6.col-lg-3.text-center
        .h5
            = text
            |  -
            span(id=id)= value

mixin inventory(img)
    img.inventory(src='img/'+img)&attributes(attributes)

mixin map-zone(id, x, y)
    .map-zone.hidden(id=id data-move=x+', '+y)&attributes(attributes)

block scripts
    script(src='js/profile-info.js')
    script(src='js/inventory.js')
    script(src='js/map.js')
    script(src='js/pvp.js')
    script(src='js/shop.js')
    script(src='js/profile-init.js')

block top-menu
    include game-menu

block content
    .container-fluid.profile-container
        .row.profile-inner.mobile-break-padding
            ul.nav.nav-tabs
                +tab('profile-info', 'Профиль', 'user').active
                +tab('inventory', 'Инвентарь', 'th-large')
                +tab('shop', 'Магазин', 'ruble')
                +tab('map', 'Карта', 'map-marker')#map-tab-bar-button
                +tab-mobile('chat', 'globe')

            .tab-content

                +tab-panel('profile-info').active
                    .row
                        .col-md-12
                            +characteristic-large('chara-stamina', 'Выносливость')
                            hr
                            +characteristic('chara-real', 'Физическая защита')
                            +characteristic('chara-rad', 'Радиационная защита')
                            +characteristic('chara-anomal', 'Противоаномальная защита')
                            +characteristic('chara-hide', 'Скрытность')
                            +characteristic('chara-war', 'Боевая эффективность')
                            +characteristic('chara-detect', 'Детектирование аномалий')
                            hr
                    .row
                        +extra-info('chara-rate', 'Рейтинг сталкера', ' 1 500')
                        +extra-info('chara-money', 'Денег в наличии', ' 10 000')
                        +extra-info('chara-games', 'Успешных вылазок', ' 76')
                        +extra-info('chara-duels', 'Успешных дуэлей', ' 0')
                    .row.hidden-xs.hidden-sm
                        .col-md-6.col-md-offset-3
                            img.fun-profile(src='img/st-ext.svg')
                    .footer-spacer

                +tab-panel('inventory')
                    .row
                        .col-md-6.col-sm-6.col-lg-4
                            h5 Броня
                            +inventory('armor/zara.png')(data-weapon='armor')
                        .col-md-6.col-sm-6.col-lg-8
                            h5 Оружее
                            +inventory('weapon/akm.png')(data-weapon='primary')
                            +inventory('weapon/pmm.png')(data-weapon='secondary')
                    .row
                        .col-md-12
                            h5 Дополнительные предметы
                            +inventory('extra/knife.png')(data-weapon='extra-1')
                            +inventory('extra/rgd5.png')(data-weapon='extra-2')
                            +inventory('extra/rgd5.png')(data-weapon='extra-3')
                            +inventory('extra/rgd5.png')(data-weapon='extra-4')
                            +inventory('extra/dg5.png')(data-weapon='extra-5')
                    .row
                        .col-md-12
                            h5 Активные артефакты
                            +inventory('art/prusina.png')(data-weapon='art-1')
                            +inventory('art/vivert.png')(data-weapon='art-2')
                            +inventory('art/vspiska.png')(data-weapon='art-3')
                    #bag.row
                        .col-md-12
                            h5 Рюкзак
                            +inventory('art/prusina.png')(data-weapon='i-1')
                            +inventory('art/prusina.png')(data-weapon='i-2')
                            +inventory('art/prusina.png')(data-weapon='i-3')

                +tab-panel('map')
                    .row
                        .col-md-12.mobile-no-padding
                            +map-zone('map-1',  890,  325).current
                            +map-zone('map-2',  740,  350).closed
                            +map-zone('map-3',  790,  445)
                            +map-zone('map-4',  680,  455)
                            +map-zone('map-5',  760,  580)
                            +map-zone('map-6',  780,  765)
                            +map-zone('map-7',  830,  855)
                            +map-zone('map-8',  730,  900)
                            +map-zone('map-9',  680,  805)
                            +map-zone('map-10', 390,  715)
                            +map-zone('map-11', 270,  745)
                            +map-zone('map-12', 210,  855)
                            +map-zone('map-13', 350,  835)
                            +map-zone('map-14', 285,  970)
                            +map-zone('map-15', 700,  1110)
                            +map-zone('map-16', 780,  1210)
                            +map-zone('map-17', 880,  1240)
                            +map-zone('map-18', 975,  1190)
                            +map-zone('map-19', 1080, 800)
                            +map-zone('map-20', 1160, 725)
                            +map-zone('map-21', 1185, 825)
                            +map-zone('map-22', 1190, 1040)
                            +map-zone('map-23', 1185, 1145)
                            +map-zone('map-24', 765,  1395)
                            +map-zone('map-25', 660,  1410)
                            +map-zone('map-26', 780,  1500)
                            +map-zone('map-27', 655,  1520)
                            +map-zone('map-28', 375,  1650)
                            +map-zone('map-29', 475,  1670)
                            img#profile-map.map(src='img/map.jpg')

                +tab-panel('shop')
                    .row
                        .col-md-12
                            .h4.money-count
                                | Денег в наличии -
                                span#money-count
                            hr
                    .row.visible-xs
                        .col-md-12
                            ul.nav.nav-tabs
                                +tab-simple('shop-buy', 'Продать').active
                                +tab-simple('shop-sell', 'Купить')

                    .row.hidden-xs
                        .col-md-6
                            h5 Продать
                            +inventory('armor/zara.png')
                            +inventory('weapon/akm.png')
                            +inventory('weapon/pmm.png')
                            +inventory('extra/knife.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/dg5.png')
                            +inventory('art/prusina.png')
                            +inventory('art/vivert.png')
                            +inventory('art/vspiska.png')
                        .col-md-6
                            h5 Купить
                            +inventory('armor/dolg_psz9d.png')
                            +inventory('armor/koz.png')
                            +inventory('extra/dg5.png')
                            +inventory('weapon/fora.png')
                            +inventory('weapon/fora-15.png')
                            +inventory('weapon/ob_s.png')
                            +inventory('extra/rgd5.png')
                            +inventory('extra/dg5.png')
                            +inventory('weapon/obrez.png')
                            +inventory('weapon/sgi.png')
                            +inventory('weapon/spas.png')

                    .row.visible-xs
                        .col-md-12
                            .tab-content
                                +tab-panel('shop-buy').active
                                    .row
                                        +inventory('armor/zara.png')
                                        +inventory('weapon/akm.png')
                                        +inventory('weapon/pmm.png')
                                        +inventory('extra/knife.png')
                                        +inventory('extra/rgd5.png')
                                        +inventory('extra/rgd5.png')
                                        +inventory('extra/rgd5.png')
                                        +inventory('extra/dg5.png')
                                        +inventory('art/prusina.png')
                                        +inventory('art/vivert.png')
                                        +inventory('art/vspiska.png')
                                +tab-panel('shop-sell')
                                    .row
                                        +inventory('armor/dolg_psz9d.png')
                                        +inventory('armor/koz.png')
                                        +inventory('extra/dg5.png')
                                        +inventory('weapon/fora.png')
                                        +inventory('weapon/fora-15.png')
                                        +inventory('weapon/ob_s.png')
                                        +inventory('extra/rgd5.png')
                                        +inventory('extra/dg5.png')
                                        +inventory('weapon/obrez.png')
                                        +inventory('weapon/sgi.png')
                                        +inventory('weapon/spas.png')

                +tab-panel('chat').mobile-chat-tab-panel
                    .row
                        .col-md-12.mobile-chat-col
                            .chat
                                .list
                                    #mobile-chat.msg-container
                                .send-form
                                    input(
                                        type='text' placeholder='Сообщение...'
                                    )#mobile-chat-input.form-control(rows='3')

    - var id = 'chara-stamina-window'
    +window(id)
        +window-header(id, 'Выносливость')
        +window-body(id)
            p.
                Чтобы бродить по просторам Зоны - нужно иметь хорошую выносливость.
                Не каждый способен перенести то с чем приходится встречаться в Зоне
                и не каждый способен выдержать постоянные физические, да и умственные,
                нагрузки. Истинный сталкер обладает хорошей выносливостью, потому что
                если он ею не обладает - в скором времени он перестает быть сталкером.
                Впрочем, не только сталкером, но и живым. Зона не прощает слабых.
            p.
                Так или иначе все устают. Для прохождения каждого участка Зоны приходится
                применять усилия, однаждый силы истекают и необходимо отдохнуть, немного
                подождать. И снова в путь.
        +window-footer(id)
            +window-button-ok(id)

    - var id = 'chara-real-window'
    +window(id)
        +window-header(id, 'Физическая защита')
        +window-body(id)
            p.
                Зона - такое место, где встречаются разные противники. И не все из них
                обладают какими-то особыми аномальными силами - старые добрые пули до
                сих под могут отправить на тот свет любого. Впрочем, как и когти и
                зубы местных мутантов.
            p.
                Хорошая броня должна хорошо защищать. Это ключ к выживанию в Зоне.
        +window-footer(id)
            +window-button-ok(id)

    - var id = 'chara-rad-window'
    +window(id)
        +window-header(id, 'Радиационная защита')
        +window-body(id)
            p.
                Чернобыльская катастрофа заразила эти земли. Впрочем, новая катастрофа,
                образовавшая современную Зону - также принесла своё в этот мир. Радиация -
                постоянный спутник любого сталкера в Зоне. Так или иначе с радиоактивными
                очагами встречаются все. Впрочем и на, казалось бы, чистом поле можно
                случайно вдохнуть "горячую частицу" и не дойти до укрытия, упав через
                20 минут.
            p.
                Броня должна обладать достаточной защитой от радиации, без хорошей защиты
                в глубь Зоны не пробраться.
        +window-footer(id)
            +window-button-ok(id)

    - var id = 'chara-anomal-window'
    +window(id)
        +window-header(id, 'Противоаномальная защита')
        +window-body(id)
            p.
                Зона опасна не только мутантами. Они лишь часть проблем. Основная проблема
                - это аномалии, таящиеся за каждым углом, под каждой кочкой, и даже на
                чистой дороге можно упасть замертво, попав в смертельную аномалию. Аномалии
                повсюду и чем дальше в глубь Зоны - тем их больше и тем больше шансов никогда
                больше не вернуться назад.
            p.
                Броня, что встречается в Зоне, всегда учитывает аномальные проблемы местности.
                Впрочем, эффективнее вообще даже не приближаться к аномалиям при возможности,
                для этого в продаже имеются детекторы аномалий. А также старый добрый болт
                покажет чиста ли дорога... но не во всех случаях...
            p.
                Однако аномалии - и дар и проклятие этих мест. Артефакты, что порождают они,
                очень ценятся во внешнем мире. Да и в Зоне им находят применение, ценят их
                за их свойства, помогающие выживать в этих суровых местах. Артефакты можно
                обнаружить и на глаз, однако детекторы аномалий помогут в поиске и артефактов.

        +window-footer(id)
            +window-button-ok(id)

    - var id = 'chara-hide-window'
    +window(id)
        +window-header(id, 'Скрытность')
        +window-body(id)
            p.
                Не осторожный в Зоне - хорошая добыча для местных мутантов... если конечно
                неосторожный дойдет до них, аномалии не прощают ошибок. Но по мимо осторожности
                можно и просто быть не заметным для врага. Будь то мутант или другой сталкер.
                Не все сталкеры мирные, бандиты и бойцы клана Монолит только и ждут появления
                очередного сталкера-жертвы.
            p.
                Умение быть скрытным поможет пройти мимо противника незамеченным, при неоходимости
                атаковать противника без ответного огня или, в случае обнаружения, уйти незамеченным.
                Глушители, хороший камуфляж и некоторые артефакты помогут остаться незамеченным.

        +window-footer(id)
            +window-button-ok(id)

    - var id = 'chara-war-window'
    +window(id)
        +window-header(id, 'Боевая эффективность')
        +window-body(id)
            p.
                Аномалии - не единственная проблема Зоны. Иногда приходится пострелять. Иногда
                в мутантов, иногда в людей. Иногда это заканчивается успехом, иногда нет...
                Для выживание в Зоне критически важно иметь соответствующее окружению вооружение.
                Выживает сильнейший, без оружия ни один сталкер далеко не уйдет, каким бы он
                ни был скрытным, незаметным или удачливым - первая встреча с мутантом может стать
                последней.
            p.
                Автоматы, пистолеты, гранаты и ножи. Всё это - необходимость в Зоне, всё это поможет
                справиться с противником. Всё это можно купить у местных торговцев или сталкеров.
                Или отобрать, всё зависти от вашего взгляда на мир. Так или иначе - оружее нужно
                всегда.
        +window-footer(id)
            +window-button-ok(id)

    - var id = 'chara-detect-window'
    +window(id)
        +window-header(id, 'Детектирование аномалий')
        +window-body(id)
            p.
                Аномалии - одна из основных причин гибели сталкеров на просторах Зоны. Это смерть,
                это боль, это кара для тех кто попадется в неё. С другой стороны - это жизнь и
                причина появления сталкеров - артефакты что рождают аномалии - основной и главный
                товар этих мест. То, что с нетерпением ждут во внешнем мире, то, за что торговцы
                готовы платить кучи денег. Главное добудь ещё. Впрочем, артефакты можно оставить
                и себе, они часто имеют весьма интерсные свойства. Так или иначе в центре всего
                этого круговорота - аномалии, которые способны убивать и способны награждать.
            p.
                Хороший детектор поможет обойти опасную аномалию, поможет и в обнаружении артефактов
                внутри или рядом с ней. Впрочем, большинство аномалий можно найти и старым добрым
                болтом, кинув его перед собой. Так или иначе - умение находить аномалии и
                артефакты - два самых важных умения, ведь без первого любой сталкер очень быстро
                станет мертвецом, а без второго - в Зоне делать нечего.
        +window-footer(id)
            +window-button-ok(id)
                            
    - var id = 'inventory-active-item-window'
    +window(id)
        +window-header(id, 'Название')
        +window-body(id)
            p
                img
                span Описание.
                hr
                h6 Состояние
                .progress
                    .progress-bar.progress-bar-success.progress-bar-striped.inventory-state-bar(
                        role='progressbar'
                        style='width: 100%'
                    )
        +window-footer(id)
            +window-button(id+'-remove', 'Убрать в рюкзак')
            +window-button-ok(id)

    - var id = 'inventory-passive-item-window'
    +window(id)
        +window-header(id, 'Название')
        +window-body(id)
            p
                img
                span Описание.
                hr
                h6 Состояние
                .progress
                    .progress-bar.progress-bar-danger.progress-bar-striped(role='progressbar' style='width: 10%')
        +window-footer(id)
            +window-button(id + '-activate', 'Сделать активным')
            +window-button-ok(id)

    - var id = 'inventory-state-bar-window'
    +window(id)
        +window-header(id, 'Состояние предметов')
        +window-body(id)
            p.
                Всё однажды умирает. А в мире вещей - всё однажды ломается. А в агрессивном мире Зоны
                всё ломается ещё быстрее. Каждый предмет подвержен износу и однажды он выходит из строя.
                Автоматы перестают стрелять и клинят на каждом втором патроне, ножи тупятся, а
                артефакты, не смотря на их аномальное проявление, со временем теряют заряд, хоть и не
                полностью, но активная фаза угасает и даже они становятся не такими, какими были в
                самом начале. Чем ниже состояние предмета - тем хуже его свойства и тем больше
                стоит задумываться о замене.
        +window-footer(id)
            +window-button-ok(id)

    - var id = 'map-closed-zone-window'
    +window(id)
        +window-header(id, 'Переход к сектору локации')
        +window-body(id)
            p До этого сектора добраться сразу не получится, нужно подойти поближе через другие сектора.
        +window-footer(id)
            +window-button-ok(id)

    - var id = 'map-go-window'
    +window(id)
        +window-header(id, 'Переход к сектору локации')
        +window-body(id)
            p Подтвердите переход.
        +window-footer(id)
            +window-buttons-dialog(id)

    - var id = 'map-already-window'
    +window(id)
        +window-header(id, 'Переход к сектору локации')
        +window-body(id)
            p Вы сейчас в этой локации.
        +window-footer(id)
            +window-button-ok(id)